* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media screen {
}

.header {
  width: 100%;
  height: 115vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)),
    url(photos/about_1.jpg);
  background-size: cover;
  padding-top: 3%;
  background-position: bottom;
  position: relative;
}

.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
}
.logo {
  width: 33.333%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  line-height: 65px;
  color: white;
  font-weight: 600;
}
.menu {
  width: 33.333%;
  height: 100%;
  word-spacing: 20px;
  text-align: center;
}
.menu a {
  color: white;
  text-decoration: none;
  line-height: 65px;
  font-size: 20px;
  position: relative;
  transition: 0.4s;
}
.menu a::before {
  content: "";
  height: 3px;
  background-color: white;
  width: 0%;
  left: 50%;
  right: 50%;
  top: 35px;
  position: absolute;
  transition: 0.5s;
}
.menu a:hover {
  color: #00917c;
  font-size: 25px;
}
.menu a:hover::before {
  width: 100%;
  left: 0;
  right: 0;
}
.call {
  width: 33.333%;
  height: 100%;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 65px;
  padding-left: 50px;
}
.border {
  height: 90%;
  width: 14%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.274);
  float: left;
  margin-right: 20px;
}
.border:hover {
  border: 3px solid white;
  background-color: rgba(240, 248, 255, 0);
}
.no {
  text-align: start;
}

.content1 {
  height: 40%;
  margin-top: 200px;
  font-size: 50px;
  color: white;
  text-align: center;
  width: 65%;
  margin-inline: 18.5%;
}

.content1 button {
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
  padding-inline: 20px;
  padding-block: 15px;
  border-radius: 50px;
  border: none;
  background-color: rgb(0, 145, 124);
  color: white;
}

.second {
  height: 20vh;
  width: 85%;
  margin-inline: 7.5%;
  z-index: 1;
  position: absolute;
  top: 105%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 1px 1px 40px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 40px -32px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 40px -32px rgba(0, 0, 0, 0.75);
}
.sec1 {
  height: 40%;
  width: 20%;
  border-radius: 50px;
}
.sec1 input {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding-inline: 20px;
  text-align: center;
  font-size: 18px;
  color: silver;
  background-color: rgb(248, 249, 250);
}
.sec1 select {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 18px;
  background-color: rgb(248, 249, 250);
}
.sec1 button {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding-inline: 20px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: rgb(0, 145, 124);
}

.third {
  height: 90vh;
  width: 100%;
  padding-top: 200px;
  background: linear-gradient(#f8f9fa, #f6f7f8, #f4f5f6);
}
.third h2 {
  color: rgb(0, 145, 124);
  padding-left: 150px;
}
.sec2 {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.t1 {
  height: 110%;
  width: 28%;
  padding-top: 30px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 50px;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 40px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 40px -32px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 40px -32px rgba(0, 0, 0, 0.75);
}
.t1 img {
  width: 20%;
  height: 25%;
}
.t1 h3 {
  color: rgb(0, 145, 124);
  margin-block: 30px;
}

.t1 a {
  color: silver;
  text-decoration: none;
  margin-top: 20px;
}

.fourth {
  height: 200vh;
  width: 100%;
  z-index: -1;
  background-color: white;
  padding-top: 150px;
  position: relative;
}
.fo1 {
  height: 90vh;
  width: 100%;
  display: flex;
}
.fou1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}
.four1 {
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 0;
  background-color: #00917c;
}
.four2 {
  margin-left: 100px;
  height: 30%;
  width: 40%;
  position: absolute;
  z-index: 1;
}
.four2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.fou2 {
  margin-top: 150px;
  text-align: left;
  height: 50%;
  width: 30%;
  margin-inline-start: 250px;
}
.fo2 h2 {
  color: #00917c;
}
.fou2 p {
  text-align: left;
  color: gray;
}

.fo2 {
  height: 8vh;
  width: 20%;
  margin-inline: 7%;
  margin-top: 150px;
}

.fo3 {
  height: 60vh;
  width: 86%;
  margin-top: 50px;
  margin-inline: 7%;
  justify-content: space-between;
  display: flex;
  position: relative;
}
.fo31 {
  height: 100%;
  width: 30%;
  border: 15px;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 1px 1px 40px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 40px -32px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 40px -32px rgba(0, 0, 0, 0.75);
}
.fo311 {
  height: 60%;
  width: 100%;
}
.fo311 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fo312 {
  height: 40%;
  width: 100%;
  padding: 20px;
  font-weight: 900;
}

.fo312 a {
  text-decoration: none;
  color: silver;
}



.five{
    height: 90vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    background-color: #00917c;
    display: flex;
    justify-content: space-evenly;
}
.f1{
  height: 60%;
  width: 20%;
  margin-top: 150px;
  color: white;
  padding-inline: 20px;
}
.f1 a{
  text-decoration: none;
  color: white;
}
.f1 p{
  margin-block: 10px;
  transition: .5s;
}
.f1 p:hover{
  color: #ffc414;
}
.f1 b{
  transition: .5s;
}
.f1 b:hover{
  color: rgb(249, 173, 9);
}
.f2{
  margin-inline-end: 10px;
}
.f2 i{
  transition: .5s;
}
.f2 i:hover{
  color: #ffc414;
}
.six{
  margin-top: 35%;
  margin-bottom: 10px;
  height: 10vh;
  width: 70%;
  margin-inline: 15%;
}
.six p{
  text-align: center;
  font-size: 20px;
  color: white;
}